<section class="header_verh">
    <div class="header_left">
      <div >
        <img src="assets/Frame.svg" alt="Логотип сайта">
      </div>
      <nav class="header_nav"> 
        <span class="header_nav_item" href="#">Главная</span>
        <span class="header_nav_item" href="#">О компании</span>
        <span class="header_nav_item" href="#">Каталог</span>
      </nav>  
    </div>
    <div class="header_right">
      <img src="assets/Phone.svg" alt="Телефон">
      <div>+7 (965) 084-29-29</div>
      <div class="love">
        <img src="assets/heart 1.svg" alt="Избранное">
      </div>
      <button class="button">  
      <img class="basket" src="assets/Mask group.svg" alt="Корзина">Пусто</button>
    </div>
</section>







<section class="header_niz">
  <div class="header_niz_left">
    <img src="assets/light.svg" alt="Каталог">
    <div class="nav_2">
      <nav>Каталог</nav>
      <nav>Стройматериалы</nav>
      <nav>Инструменты</nav>
      <nav>Электрика</nav>
      <nav>Интерьер и одежда</nav>
    </div>
  </div>

  <div class="header_niz_right">
    <form class="form" action="">
      <input class="form_input" type="" placeholder="Поиск, например Круг зачистной">
      <img src="assets/лупа.svg" alt="Поиск">
    </form>
       <img src="assets/location.svg" alt="">
   <div class="header_niz_right">Москва</div>
  </div>
</section>







<section class="hero-image">
  <img src="assets/Rectangle 5.png" alt="Фоновое изображение" style="width: 100%;">
</section>






<section class="container">
  <div class="img_1">
    <img src="assets/кирпичи.svg" alt="">
    <p class="text_1">Большой ассортимент строительных материалов</p>
  </div>

  <div class="img_2">
    <img src="assets/машина.svg" alt="">
    <p class="text_2">Доставка стройматериалов
      в течении четырех часов или в любое удобное время</p>
  </div>

  <div class="img_3">
    <img src="assets/класс.svg" alt="">
    <p class="text_3">Многоуровневая система управления качеством по стандарту ISO 9001</p>
  </div>
</section>








<section class="container_paginations">
  <div class="paginations">
    <button class="paginations_buttons">1</button>
    <button class="paginations_buttons">2</button>
    <button class="paginations_buttons">3</button>
    <button class="paginations_buttons">4</button>
    <button class="paginations_buttons">5</button>
  </div>





  <div class="cards">
    <div class="card_1_left">
      <div class="text_card_1">Строительный отделочный инструмент</div>
      <div class="text_niz">
        <div>Перейти в каталог</div>
        <img src="assets/next.svg" alt="">
      </div>
    </div>


    <div class="cards_right">
      <div class="card">


        
        <div class="card_1">
          <div class="text_card_2">Эмали</div>
          <div class="text_niz">
            <div>Перейти в каталог</div>
            <img src="assets/next.svg" alt="">
          </div>
        </div>




      </div>



      <div class="card_2">
        <div class="text_card_3">Лакокрасочные материалы</div>
          <div class="text_niz">
            <div>Перейти в каталог</div>
            <img src="assets/next.svg" alt="">
          </div>
      </div>










      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</section>

