.header_verh {
    height: 80px;
    background-color: #4B565E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 295px;
    padding-right: 295px;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_nav {
    display: flex;
    gap: 28px;
}

.button {
    width: 126px;
    height: 48px;
    gap: 10px;
    border-radius: 40px;
    border: none;
    background-color: #4B565E;
    border: 1px solid #F0BA4E;
    color: white;
    align-items: center;
    display: flex;
    padding-left: 20px;
}

.basket {
    align-items: center;
}


.header_niz {
    height: 48px;
    gap: 10px;
    padding-right: 300px;
    padding-left: 300px;
    background-color: #F0BA4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_niz_left {
    display: flex;
    gap: 10px;
   
}

.nav_2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_niz_right {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.form {
    border-bottom: 1px solid black;
}

.form_input {
    background-color: #F0BA4E;
    border: none;
    width: 350px;
    top: 28px;
    border-width: 1px;
    outline: none;
}


.container {
    width: 1319px;
    height: 72px;
    top: 876px;
    left: 300px;
    gap: 28px;
    margin: 0 auto;
    display: flex;
    margin-top: 28px;
}

.img_1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.text_1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}


.img_2 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.text_2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}


.img_3 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.text_3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}


// РАЗДЕЛ КАТРОЧЕК И КНОПОК


.container_paginations {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-bottom: 300px;
}

.paginations {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}


.paginations_buttons {
    border: none;
    background: none;
}

.card_1_left {
    background-image: url(/assets/image_19.png);
    width: 421%;
    height: 428px;
    max-width: 421px;
    max-height: 428px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-repeat: no-repeat;
    background-position-y: bottom;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.text_niz {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}


.cards {
    display: flex;
}

.text_card_1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
}

.text_card_2 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    align-self: end;
    padding-right: 30px;
    display: flex;
}

.cards_right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 28px;
    margin-left: 20px;
}

.card {
    display: flex;
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.card_1 {
    background-image: url(/assets/emal.png);
    width: 421px;
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    background-position-y: bottom;
    padding: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.text_card_2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 310px;
}

.card_2 {
    background-image: url(/assets/Laki.png);
    width: 421px;
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    background-position-y: bottom;
    padding: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.text_card_3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-right: 40px;
}




