<div class="header">
  <div class="header-left">
      <div class="header-logo">
      <img src="assets/Frame.svg" alt="Логотип сайта">
      </div>
    <nav class="header-nav"> 
       <div class="header-nav-item">Главная</div>
       <div class="header-nav-item">О компании</div>
       <div class="header-nav-item">Каталог</div>
     </nav>  
</div>
<div></div>
  <div class="header-right">
  <div class="header-right-phone"><img src="assets/Phone.svg" alt="sign phone"></div>
    <img src="assets/+7 (965) 084-29-29.svg" alt="num phone">
    <div class="header-right-love"><img src="assets/heart 1.svg" alt="logo-love"></div>
  </div>
 <button class="button1">
  <img src="assets/Mask group.svg" alt="corf">
  <img src="assets/Пусто.svg" alt="покупки">
</button>
</div>
<div class="header-lower">
    <div class="header-lower-menu"><img src="assets/light.svg" alt="katalog">
    <div class="header-lower-menu">Каталог</div>
    <div class="header-lower-menu">Стройматериалы</div>
    <div class="header-lower-menu">Инструменты</div>
    <div class="header-lower-menu">Электрика</div>
    <div class="header-lower-menu">Интерьер и одежда</div>
    <form> 
  <input class="поиск"type="search" placeholder="поиск" 
      size="15px">
    </form>
    <div class="лупа"><img src="assets/лупа.svg" alt="search"></div>
    <div class="локацыя"></div>
    <img src="assets/Location.svg" alt="location">
    </div>
    </div>
    <div>
      <img src="assets/Rectangle 5.png" alt="background-large" style="width: 100%;">
    </div>
    <div class="ad_block">
      <div class="ad_block-3-pieces-1">
        <div><img src="assets/кирпичи.svg" alt="асортимент"></div>
        <div class="ad_block-3-pieces-1-text">
          <div style="margin-left: 20px;">Большой ассортимент
            <div><span style="color: #A1A0A0;">строительных материалов всегда в наличии</span>
            </div>
          </div>
      </div>
      </div>
      <div class="ad_block-3-pieces-2">
        <div><img src="assets/машина.svg" alt="delivery"></div>
        <div class="ad_block-3-pieces-2-text" >
          <div>Доставка стройматериалов</div> 
          <span style="color: #A1A0A0;">в течении четырех часов или в
            <div></div>любое удобное время</span></div>
      </div>
      <div class="ad_block-3-pieces-3">
        <div><img src="assets/класс.svg" alt="качество"></div>
        <div><span style="color: #A1A0A0;">Многоуровневая</span> система <div>управления качеством по стандарту</div>
      <span style="color: #A1A0A0;"> ISO 9001</span></div>
      </div>
      </div>
<div class="content-container">
  <div class="item-cards"> 
    <!-- <div class="item-cards__pagination">
      <Button class="item-cards__pagination-button">1</Button>
      <Button class="item-cards__pagination-button">2</Button>
      <Button class="item-cards__pagination-button">3</Button>
      <Button class="item-cards__pagination-button">4</Button>
      <Button class="item-cards__pagination-button">5</Button>
    </div> -->
      <div class="item-cards__grid">
       <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительный отделочный инструмент
        </div>
        <div class="item-cards__grid-left-action">
          <span style="margin-right: 10px;">перейти в Каталог</span>
          <a class="item-cards__grid-left-action-link">
            <img src="/assets/Frame_20.svg" alt="">
          </a>
        </div>
      </div>
      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block-1">
          <div class="item-cards__grid-right-block-tex">
            <div class ="item-cards__grid-right-block-emal">эмали
            </div>
              <div class="perexod">
                <span>перейти в Каталог </span>
                <a><img src="assets/переход.svg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="item-cards__grid-right-block-2">
          <div class="item-cards__grid-right-block-text-2">
            <div class="lac">Лакокрасочные 
              материалы
            </div>
            <div class="perexod-2">перейти в Каталог<a><img src="assets/переход.svg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
      </div>
    </div>
  </div>
  </div>

  
  
